.mainPane{
    width: 45%;
    background: #292929;
    color: #fff;
    border: 1px solid #4f4d4d;
}
.mainPane .h3{
    display: flex;
    justify-content: space-between;
    width: 35.9%;
    position: fixed;
    top: -20px;
    padding: 15px 0 15px 20px;
    background: #292929;
}
.mainPane .h3 a{
    margin-bottom: 5px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.mainPane .h3 i{
    margin-right: 10px;
    padding: 10px;
    font-size: 1.2em;
}
.mainPane .h3 i:hover{
    border-radius: 50%;
    background: #303030;
}
.user-tweet{
    margin-top: 70px;
    margin-left: 75px;
    margin-bottom: 20px;
}
.user-tweet img{
    border-radius: 50%;
    margin-left: -55px;
    cursor: pointer;
}
.user-tweet input{
    background: transparent;
    border: none;
    margin-left: 15px;
    color: #fff;
    font-size: 1.2em;
}
#tweet-input:focus{
    border-color: #292929;
    outline: 0;
}
.icons-button{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.tweet-icons{
    margin-top: 20px;
}
.tweet-icons i{
    margin: 3px;
    font-size: 1.2em;
    color: #2aa5e2;
    padding: 10px;
}
.tweet-icons i:hover{
    background: #1f3540;
    border-radius: 50%;
}
.fa-clock{
    padding-left: 10px;
}
.icons-button button{
    width: 80px;
    padding: 7px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    background: #29c3f7;
    cursor: pointer;
    transition: .2s ease-in;
}
.icons-button button:hover{
    background: #1c9cc7;
}
.nickName{
    font-weight: 100;
    color: #cccc;
    margin-top: -20px;
}